@use "sass:color";

@font-face {
  font-family: "Uncage";
  src: url(/fonts/UNCAGE-SemiBold.ttf);
}

@font-face {
  font-family: "AcherusFeral-Bold";
  src: url(/fonts/AcherusFeral-Bold.otf);
}

@font-face {
  font-family: "AcherusFeral-Light";
  src: url(/fonts/AcherusFeral-Light.otf);
}

@font-face {
  font-family: "UnboundedRegular";
  src: url(/public/fonts/Unbounded-Regular.ttf);
}

@font-face {
  font-family: "UnboundedSemiBold";
  src: url(/public/fonts/Unbounded-SemiBold.ttf);
}

$primary-color: #008d49;
$second-color: #00569d;
$window-color: #d9d9d9;

body {
  // background-image: url("/assets/image/backImage.png");
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;

  @media (max-width: 768px) {
    width: 95%;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2%;
}

.product-item {
  position: relative;
  border-radius: 5px;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 100%;
    height: 280px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
  }

  .product-info {
    background-color: rgba(white, 0.6);
    border-radius: 0 0 5px 5px;
    text-align: left;
    .card-title {
      font-size: 18px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 1px;
    }

    .card-cost {
      font-size: 18px;
      color: $second-color;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }

  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
